* text=auto eol=CRLF
# Explicit
*.txt text eol=crlf
*.js text eol=crlf
*.vue text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.php text eol=crlf
#binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.svg binary
*.mp4 binary
*.webm binary
*.webp binary
*.otf binary