@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /*Fonts*/
  --font-opens: 'Open Sans Variable', sans-serif;
  --font-poppins: 'Poppins Variable', sans-serif;
  --default-font-family: var(--font-poppins);
  /*Colors base theme*/
  /*Colors obs*/
  --color-obs1: #004085;
  --color-obs2: #c90e2b;
  /*Colors ssp*/
  --color-ssp1: #ca2229;
  --color-ssp2: #ef7723;
  --color-ssp3: #a6cd3a;
  --color-ssp4: #1ba653;
  --color-ssp5: #158292;
  --color-ssp6: #333;
  /*End colors base theme*/
  /*
  Platform's default colors
  don´t delete the variables names
  */
  /*header menu*/
  --color-menu-default: var(--color-ssp3);
  --color-menu-hover: var(--color-ssp1);
  --color-submenu-default: var(--color-ssp3);
  --color-submenu-hover: var(--color-ssp1);
  --color-menu-accented: var(--color-ssp2);
  --color-submenu-accented: var(--color-ssp1);
  /*body text*/
  --color-body-default: var(--color-ssp6);
  --color-body-accented: var(--color-ssp4);
  /*sb menu*/
  --color-sbmenu-text-default: var(--color-ssp3);
  --color-sbmenu-text-hover: var(--color-ssp1);
  --color-sbmenu-text-accented: var(--color-ssp2);
  --color-sbmenu-bg-default: var(--color-ssp3);
  --color-sbmenu-bg-hover: var(--color-ssp1);
  --color-sbmenu-bg-accented: var(--color-ssp2);
  --color-sbmenu-border-default: yellow;
  --color-sbmenu-border-accented: rgba(76, 166, 178, 0.3);
  /*--*/
  --color-sbmenu-dark-text-default: var(--color-ssp3);
  --color-sbmenu-dark-text-hover: var(--color-ssp1);
  --color-sbmenu-dark-text-accented: var(--color-ssp2);
  --color-sbmenu-dark-bg-default: var(--color-ssp3)/10;
  --color-sbmenu-dark-bg-hover: var(--color-ssp1);
  --color-sbmenu-dark-bg-accented: var(--color-ssp2);
  --color-sbmenu-dark-border-default: blue;
  --color-sbmenu-dark-border-accented: pink;
  /*forms*/
  --color-form-border-default: DarkGoldenrod;
  --color-form-border-accented: gold;
  --color-form-bg-default: var(--color-ssp3);
  --color-form-bg-accented: var(--color-ssp2);
  --color-form-text-default: var(--color-ssp6);
  --color-form-text-accented: var(--color-ssp4);
  --form-font-size: 1.025rem;
  --form-font-weight: bold;
  --form-border-width: 2px;
  --form-border-radius: .75rem;
  --form-padding-x: 1rem;
  --form-padding-y: .5rem;
  /*--*/
  --color-form-dark-border-default: MediumTurquoise;
  --color-form-dark-border-accented: Aquamarine;
  --color-form-dark-bg-default: LightSteelBlue;
  --color-form-dark-bg-accented: DarkBlue;
  --color-form-dark-text-default: var(--color-ssp6);
  --color-form-dark-text-accented: red;
  /*End Platform's default colors*/
  /*USED IN ANOTHER PLACES*/
  --color-primary-100: rgba(0, 0, 213, 0.1);
  --color-primary-full: #0000d5;

  /*--color-secondary: #e152aa;*/
  /* 🎨 BASE COLORS */
  --color-primary: rgb(249, 210, 38);
  --color-secondary: rgb(225, 82, 170);
  --color-accent: var(--color-secondary);
  --color-hover: var(--color-secondary);

  /* 🧱 UI COLORS */
  --color-body: var(--color-gray-100);
  /*scrollbar*/
  --color-scrollbar-thumb: var(--color-gray-400);
  --color-scrollbar-track: var(--color-body);
  /***/
  --color-bg: rgb(248, 250, 252);
  --color-surface: rgb(255, 255, 255);
  --color-border: rgb(226, 232, 240);
  --color-muted: rgb(241, 245, 249);
  --color-table-bg: var(--color-white);

  /*forms*/
  --color-form-input-border: var(--color-gray-400);
  --color-form-input-bg: var(--color-gray-100);
  --color-form-input-text: var(--color-gray-900);
  /*tables*/
  --color-table-header-bg: var(--color-gray-100);
  --color-table-header-text: var(--color-gray-900);
  --color-table-header-border: var(--color-gray-400);
  --color-table-row-bg-even: var(--color-gray-100);
  --color-table-row-text-even: var(--color-gray-900);
  --color-table-row-border-even: var(--color-gray-400);
  --color-table-row-bg-odd: var(--color-gray-100);
  --color-table-row-text-odd: var(--color-gray-900);
  --color-table-row-border-odd: var(--color-gray-400);
  --table-radius: 1rem;
  /* 📝 TEXT COLORS */
  --color-text: rgb(15, 23, 42);
  --color-text-muted: rgb(100, 116, 139);
  --color-text-inverted: rgb(255, 255, 255);

  /* 🚦 STATUS COLORS */
  --color-success: rgb(22, 163, 74);
  --color-warning: rgb(234, 179, 8);
  --color-danger: rgb(220, 38, 38);
  --color-info: rgb(14, 165, 233);


  /*REPLACE DEFAULT TAILWIND COLORS*/
  --default-text-color: red;
}
/*DARK MODE*/
@layer base {
  .dark {
    /*--text-color: var(--color-white);*/
    --color-body: var(--color-gray-700);
    --color-table-bg: var(--color-gray-600);
    --color-scrollbar-thumb: var(--color-secondary);
    --color-scrollbar-track: var(--color-body);
  }
}
@layer utilities {
  .font-accent {
    @apply font-[var(--font-opens)]
  }
  .font-regular {
    @apply font-[var(--font-poppins)]
  }
}
html {
  scroll-behavior: smooth;
}
.scrolled {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track) !important;
}
.scrolled::-webkit-scrollbar-track {background: var(--color-scrollbar-track) !important}
.scrolled::-webkit-scrollbar-thumb {background-color: var(--color-scrollbar-thumb) !important}
body {
  background-color: var(--color-body);
  @apply h-full;
  /*@apply bg-gradient-to-br from-gray-100 from-20% via-90% via-gray-400 to-gray-400;*/
}
/*nav bar*/
nav > .router-link-active, .router-link-active.router-link-exact-active {
  @apply text-menu-accented;
}
nav > .router-link-active {
  @apply border-b-menu-default border-b-2 top-4 pb-[calc(1rem)] self-center relative;
}
.table-column-stretch {
  @apply whitespace-nowrap w-1;
}
.bg_accent {
  @apply bg-[var(--color-obs1)]
}
.text_accent {
  @apply text-[var(--color-obs1)]
}
/*h2 {*/
/*  @apply text-2xl;*/
/*}*/
/*h3 {*/
/*  @apply text-xl;*/
/*}*/
